/* *ANIMATE */
.links-animate a {
  background-image: linear-gradient(to right, #24514c, #24514c 50%, #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.links-animate a:before {
  content: '';
  background: #24514c;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.links-animate a:hover {
  background-position: 0;
}

.links-animate a:hover::before {
  width: 100%;
}
