@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/futuraFont/FuturaPT-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';

  src: url('../fonts/futuraFont/FuturaPT-MediumObl.woff') format('woff');

  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Futura PT Cond';
  src: url('../fonts/futuraFont/FuturaPTCond-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/futuraFont/FuturaPT-LightObl.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Futura PT Cond';
  src: url('../fonts/futuraFont/FuturaPTCond-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Book';
  src: url('../fonts/futuraFont/FuturaPT-BookObl.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/futuraFont/FuturaPT-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/futuraFont/FuturaPT-BoldObl.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Futura PT Demi';
  src: url('../fonts/futuraFont/FuturaPT-DemiObl.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Futura PT Cond Book';
  src: url('../fonts/futuraFont/FuturaPTCond-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/futuraFont/FuturaPT-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Cond';
  src: url('../fonts/futuraFont/FuturaPTCond-BoldObl.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Futura PT Cond';
  src: url('../fonts/futuraFont/FuturaPTCond-MediumObl.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Futura PT Cond Book';
  src: url('../fonts/futuraFont/FuturaPTCond-BookObl.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

/** Coolvetica **/

@font-face {
  font-family: 'Coolvetica Lt';
  src: url('../fonts/colveticaFont/CoolveticaLt-Regular.woff2') format('woff2'),
    url('../fonts/colveticaFont/CoolveticaLt-Regular.woff') format('woff');

  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Coolvetica Bk';
  src: url('../fonts/colveticaFont/CoolveticaBk-Regular.woff2') format('woff2'),
    url('../fonts/colveticaFont/CoolveticaBk-Regular.woff') format('woff');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Coolvetica Rg';
  src: url('../fonts/colveticaFont/CoolveticaRg-BoldItalic.woff2') format('woff2'),
    url('../fonts/colveticaFont/CoolveticaRg-BoldItalic.woff') format('woff');

  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Coolvetica Rg';

  src: url('../fonts/colveticaFont/CoolveticaRg-Regular.woff2') format('woff2'),
    url('../fonts/colveticaFont/CoolveticaRg-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Coolvetica Ul';

  src: url('../fonts/colveticaFont/CoolveticaUl-Regular.woff2') format('woff2'),
    url('../fonts/colveticaFont/CoolveticaUl-Regular.woff') format('woff');

  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Coolvetica Hv';

  src: url('../fonts/colveticaFont/CoolveticaHv-Regular.woff2') format('woff2'),
    url('../fonts/colveticaFont/CoolveticaHv-Regular.woff') format('woff');

  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Coolvetica Rg';

  src: url('../fonts/colveticaFont/CoolveticaRg-Italic.woff2') format('woff2'),
    url('../fonts/colveticaFont/CoolveticaRg-Italic.woff') format('woff');

  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Coolvetica El';

  src: url('../fonts/colveticaFont/CoolveticaEl-Regular.woff2') format('woff2'),
    url('../fonts/colveticaFont/CoolveticaEl-Regular.woff') format('woff');

  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Coolvetica Bk';

  src: url('../fonts/colveticaFont/CoolveticaBk-Italic.woff2') format('woff2'),
    url('../fonts/colveticaFont/CoolveticaBk-Italic.woff') format('woff');

  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Coolvetica Lt';

  src: url('../fonts/colveticaFont/CoolveticaLt-Italic.woff2') format('woff2'),
    url('../fonts/colveticaFont/CoolveticaLt-Italic.woff') format('woff');

  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Coolvetica Hv';

  src: url('../fonts/colveticaFont/CoolveticaHv-Italic.woff2') format('woff2'),
    url('../fonts/colveticaFont/CoolveticaHv-Italic.woff') format('woff');

  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Coolvetica Ul';
  src: url('../fonts/colveticaFont/CoolveticaUl-Italic.woff2') format('woff2'),
    url('../fonts/colveticaFont/CoolveticaUl-Italic.woff') format('woff');

  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Coolvetica El';
  src: url('../fonts/colveticaFont/CoolveticaEl-Italic.woff2') format('woff2'),
    url('../fonts/colveticaFont/CoolveticaEl-Italic.woff') format('woff');

  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Coolvetica Rg';
  src: url('../fonts/../fonts/colveticaFont/CoolveticaRg-Bold.woff2') format('woff2'),
    url('../fonts/colveticaFont/CoolveticaRg-Bold.woff') format('woff');

  font-weight: bold;
  font-style: normal;
}
