* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all 0.3s ease;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
strong,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
article,
aside,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  user-select: none;
}

img {
  display: block;
}

ol,
ul {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  cursor: pointer;

}
button{
      border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;

    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
}
