:root {
  --main-color: #ff6c00;
  --secondary-color: #e1e7c7;
  --third-color: #f3f5e9;
  --forth-color: #5b8c97;
  --fifth-color: #4d8e6d;
  --sixth-color: #fad3ca;
  --seventh-color: #262324;
  --eighth-color:#CCCCCC;

  --main--text-color: #141c1b;
  --secondary--text-color: #ffffff;

  --main-bg-color: #ffffff;
  --secondary-bg-color: #112d2a;
  --section-main-bg-color: #d1efe5;
  --section-secondary-bg-color: #f9bbac;
  --section-third-bg-color: #f4f1ea;
  --section-forth-bg-color: #f8bb71;
  --section-sixth-bg-color: #e1e7c7;

  --button-main-color: #f8bb71;


  --border-radius-base: 20px;
  --container-width-lg: 1440px;
  --container-width-sm: 1296px;
}
