.eco-friendly__star {
  position: relative;
  margin-block: 41.56px 30px;
}
.eco-friendly__star h3 {
  padding-inline: 20px;
}

.eco-friendly__star h3::before {
  content: url(../../svg/icons/star.svg);
  position: absolute;
  top: -10%;
  right: 0;
}

.eco-friendly__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.eco-friendly__list li {
  flex: 1 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
  min-height: 128px;
  height: 100%;
}

.eco-friendly__list p {
  max-width: 150px;
  text-align: center;
}

.eco-friendly__base {
  margin-block: 20px 30px;
}

.eco-friendly__base p {
  padding-inline: 5px;
}

.eco-friendly__carousel li {
  height: 312.14px;
  padding: 38.86px 17px 28.75px 24.64px;
  border: 2px solid var(--seventh-color);
  border-radius: 16.4286px;
  background: linear-gradient(to bottom, var(--main-bg-color) 72%, var(--section-secondary-bg-color) 28%);

  margin-bottom: 20.86px;
}

.eco-friendly__carousel li h4 {
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;

  margin-bottom: 5.93px;
}

.eco-friendly__carousel li p {
  font-size: 16px;
  line-height: 23px;

  margin: 7.57px 0px 8.22px;
}

.eco-friendly__carousel-promo {
  display: flex;
  width: 100%;
}

.eco-friendly__carousel-promo-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.eco-friendly__carousel-promo-info button {
  margin-bottom: 7%;
}

.box_1__img {
  padding: 18.89px 10.68px 18.68px 11.5px;
  border: 2px solid var(--seventh-color);
  border-radius: 9.85714px;
  background: var(--main-bg-color);

  margin-right: 12.32px;
}

nav.carousel:hover {
  cursor: default;
}

nav.carousel_dots input[type='radio'] {
  display: none;
}

nav.carousel_dots label {
  display: inline-block;
  background: var(--eighth-color);
  overflow: hidden;
  text-indent: -999px;
  border-radius: 100%;
  width: 10px;
  height: 10px;
}
nav.carousel_dots label:hover {
  background: #bbb;
  cursor: pointer;
  box-shadow: inset 0 1px 1px 0 #777;
}
nav.carousel_dots input:checked + label {
  background: var(--button-main-color);
  border: 1px solid var(--seventh-color);
}
